@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    width: 400px;
}
caption{
    border: 1px solid black;
    border-bottom: 0;
    padding: 10px;
    font-weight: bold;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th{
    font-weight: bold;
}
.destaque{
    background: lightgreen;
}
col.cnome{
    background: lightgreen;
}