@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border-collapse: collapse;
    width: 600px;
}
caption {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
    border-bottom: 0;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th{
    font-weight: bold;
}